
/* form css */
*{
    box-sizing: border-box;
}
body{
    margin:0;
    padding: 0;
    background-image: url("https://images.pexels.com/photos/733857/pexels-photo-733857.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    background-size: cover;
    background-repeat: no-repeat;
}
.cFormBox{
    background-color: whitesmoke;
    border: 1.5px solid #00695c;
    padding:6px;
    margin:60px;
    margin-left: auto ;
    margin-right: auto;
    width: 50%;  
    box-shadow: 10px 10px 10px;
}
#formHeading{
    padding: 4px; 
    text-align: center;
    font-weight:bolder;
    font-size:  2em;;
    color:#00695c;
    margin: auto;
    
}
#info{
    margin-top: 2px;
    text-align: center;
    font-weight: lighter;
    font-size:large;
    font-family: 'Times New Roman', Times, serif;    
}
hr{
    border-bottom: 3px solid grey ;
    margin-bottom: 6px;
    margin-top: 8px;
}
.mainform{
    width: auto;
    border: solid;
    padding:5px;
    flex-wrap: wrap;
}
.inputclass{
    max-width: 98%;
    min-width: 98%;
    margin-bottom: 5px;
    background-color: whitesmoke;
    border: 1px solid grey;
}
.mininput{
    min-width: 48.5%;
    margin-bottom: 10px;
    background-color: whitesmoke;
    border: 1px solid grey;
}
#btntext{
    min-width: 98.5%;
    background-color: #7ccdc3;
    border: 1px solid #00695c;
    border-radius: 3px;
    padding: 8px;
    color: white;
    font-size: large;
    cursor: pointer;
    margin-top:10px;
}
#btntext:hover{
    min-width: 98.5%;
    max-width: 98.5%;
    background-color: #00695c;
    border: 1px solid #7ccdc3;
}
