<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="/css/contactus.css">
</head>
<body>

    <header class="main-header">
        <nav class="main-header_nav">
            <ul class="main-header_item_list">
                <li class="main-header_item"><a href="/shop">Shop</a></li>
                <li class="main-header_item"><a href="/add-product">Add Product</a></li>
                <li class="main-header_item"><a href="/contactus" class="active">Contact Us</a></li>
            </ul>
        </nav>
    </header>

    <!--  contact us form  -->
    <div id="contactFormBox" class="cFormBox">
        <h2 id="formHeading">Book a Call</h2>
        <div id="info">
          Book a call slot and our representative will call you within 1hr of selected time.
        </div>
        <hr>
    
        <div class="mainform">
          <form id="frm">
            <label>Name:</label><br>
            <input type="text" id="name" required class="inputclass" placeholder="Enter your Name" /><br>
    
            <label>Email:</label><br>
            <input type="email" id="email" required class="inputclass" placeholder="Enter your Email" /><br>
<!--     
            <label>Phone:</label><br>
            <input type="text" id="phone" pattern="[7-9]{1}[0-9]{9}" required class="inputclass"
              placeholder="Enter your Phone number" /><br>
    
            <label>Time for call:</label><br>
            <input type="date" id="date" required class="mininput" placeholder="Select Date" />
            <input type="time" id="time" required class="mininput" placeholder="Select Time of call" /><br> -->
    
            <input type="submit" id="btntext" value="GET A CALL" />
          </form>
        </div>
      </div>
    
    
</body>
</html>